@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-color: #067009;
    --secondary-color: #79991a;
    --dark-text-color: #282727;
}
body{
    padding: 20px;
    background: #eae5e5!important; 
    font-family: 'Roboto Condensed', sans-serif !important;
}

.logo-holder{
  margin-top: 10px;
}
.logo-holder img{
  width: 100px;
  margin-right: 20px;
}
  .title{
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 80px;
    font-size: 4em;
  }
  .poster-image {
    background-image: url("../assets/bg2.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 300px;
  }
  
  .poster-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .image-holder{
      margin: auto;
  }

  .image-holder img{
      width: 100%;
  }
  .btn.btn-primary{
    background-color: var(--primary-color)!important;
    background-image: none;
    font-weight: bold;
    color: white;
  }

  .line{
    width: 260px;
    border-bottom: 5px solid var(--primary-color);
    margin-bottom: 20px;
  }


  .contributors{
    background-color: white;
    padding-top: 50px;
  }

  .contributors .caption{
    font-size: 2em;
    margin-top: 40px;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
  }

  .contributors img{
    border-radius: 50%;
    width: 200px;
  }

  .contributors .card{
    text-align: center;
  }

  .animation {
    padding-top: 50px;
    height: 500px;
    background-color:var(--secondary-color);
    overflow: hidden;
    color: white;
    border-bottom: 5px solid var(--secondary-color);
  }

  .animation img{
    width: 400px;
    position: relative;
    box-shadow: 5px 5px #edf1f1;
    border-radius: 20px;
  }


  .diy {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-top: 5px solid var(--secondary-color);
    color: var(--primary-color);
  }

  .animation2 {
    padding-top: 50px;
    height: 500px;
    background-color:var(--secondary-color);
    overflow: hidden;
    color: white;
    border-bottom: 5px solid var(--secondary-color);
  }

  .animation2 img{
    width: 400px;
    position: relative;
    border-radius: 20px;
  }

  .animation3 {
    padding-top: 50px;
    height: 500px;
    background-color:white;
    overflow: hidden;
    color: var(--dark-text-color);
    border-bottom: 5px solid var(--secondary-color);
  }

  .animation3 img{
    
    border-radius: 20px;
  }

  .diy img{
    width: 100%;
  }
  .diy p,  .diy ul li{
    color: var(--dark-text-color);
    font-size: 1.5em;
  }

  .steps {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-top: 5px solid var(--secondary-color);
    color: var(--primary-color);
  }

  .steps .card{
    height: 500px;
  }
  .steps img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }

  .steps .card-title{
    color: var(--dark-text-color);
    text-align: center;
    font-weight: bold;
    
  }
  .steps .card-text{
    color: var(--dark-text-color);
    text-align: left;
  }


  .fleet {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-top: 5px solid var(--secondary-color);
    color: var(--primary-color);
  }

  .fleet .card{
    padding-bottom: 20px;
  }
  .fleet img{
    width: 100%;
    border-radius: 20px;
  }

  .fleet .card-title{
    color: var(--dark-text-color);
    text-align: center;
    font-weight: bold;
    
  }
  .fleet .card-text{
    color: var(--dark-text-color);
    text-align: left;
  }